.App {
  text-align: center;
  background-color: black;

}

.App-logo {
  animation: App-logo-spin infinite 8s linear;
  height: 20vmin;
  pointer-events: none;
  margin-top: 2em;
  margin-bottom: 2em;
}

.App-header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Oswald';
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css?family=Oswald');
